@inherits Umbraco.Web.Macros.PartialViewMacroPage
@using Umbraco.Web


@*
    This snippet displays a list of links of the pages immediately under the top-most page in the content tree.
    This is the home page for a standard website.
    It also highlights the current active page/section in the navigation with the CSS class "current".
*@

@{ var selection = Model.Content.Site().Children.Where(x => x.IsVisible()).ToArray();
    IPublishedContent page = Umbraco.TypedContent(1066);
    }


 @if (selection.Length > 0)
{

  

      
        foreach (var item in selection)
        {
            if (item.Children.Count() > 0)
            {
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="*" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" >Our Projects 
                    </a>
                    <ul class="dropdown-menu" >

                        @foreach (IPublishedContent subMenuItem in item.Children)
                        {
                            foreach (IPublishedContent subSubMenuItem in subMenuItem.Children)
                            {

        
                                if(Convert.ToInt32(subSubMenuItem.GetPropertyValue("projectStatus")) == 27) { 
                                    <li class="@(item.IsAncestorOrSelf(Model.Content) ? "current" : null)" umbracoNaviHide>
                                        <a href="@subSubMenuItem.Url">@subSubMenuItem.Name</a>
                                    </li>
                                }

                            }

                        }
                    </ul>
                </li>

            }
         

        }
      
           
        

 
}


