<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[<!ELEMENT members ANY>
<!ATTLIST members id ID #REQUIRED>
<!ELEMENT forbiddenAccess ANY>
<!ATTLIST forbiddenAccess id ID #REQUIRED>
<!ELEMENT loginForm ANY>
<!ATTLIST loginForm id ID #REQUIRED>
<!ELEMENT contactUs ANY>
<!ATTLIST contactUs id ID #REQUIRED>
<!ELEMENT siteMap ANY>
<!ATTLIST siteMap id ID #REQUIRED>
<!ELEMENT aboutUs ANY>
<!ATTLIST aboutUs id ID #REQUIRED>
<!ELEMENT articleItem ANY>
<!ATTLIST articleItem id ID #REQUIRED>
<!ELEMENT articlesOverview ANY>
<!ATTLIST articlesOverview id ID #REQUIRED>
<!ELEMENT projectItem ANY>
<!ATTLIST projectItem id ID #REQUIRED>
<!ELEMENT projectsOverview ANY>
<!ATTLIST projectsOverview id ID #REQUIRED>
<!ELEMENT homePage ANY>
<!ATTLIST homePage id ID #REQUIRED>
<!ELEMENT master ANY>
<!ATTLIST master id ID #REQUIRED>
]>
<root id="-1">
  <master id="1078" key="dd211d52-a507-4cab-9aac-eb782109dd69" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-02-18T15:16:03" updateDate="2018-03-26T13:43:50" nodeName="Master" urlName="master" path="-1,1078" isDoc="" nodeType="1053" creatorName="Lucian Constantin Curcuta" writerName="Lucian Constantin Curcuta" writerID="0" template="0" nodeTypeAlias="master" isPublished="true">
    <metaDescription><![CDATA[Some Description]]></metaDescription>
    <metaKeywords><![CDATA[Some other keywords]]></metaKeywords>
    <umbracoNaviHide>0</umbracoNaviHide>
    <homePage id="1080" key="2b7a424f-81ff-4fdb-a9d1-c3437afe1361" parentID="1078" level="2" creatorID="0" sortOrder="0" createDate="2018-02-18T15:17:47" updateDate="2018-03-26T18:20:22" nodeName="Home" urlName="home" path="-1,1078,1080" isDoc="" nodeType="1058" creatorName="Lucian Constantin Curcuta" writerName="Lucian Constantin Curcuta" writerID="0" template="1057" nodeTypeAlias="homePage" isPublished="false">
      <siteTitle><![CDATA[Home]]></siteTitle>
      <logo><![CDATA[umb://media/0a111484cba747fea1aa1055b8f6c82d]]></logo>
      <mainContent><![CDATA[<p>Lorem ipsum dolor sit amet, vis nisl theophrastus ut, mei discere docendi quaerendum ut, ridens audiam cu vel. Ignota imperdiet scribentur ea sea, qui eirmod tacimates mandamus te, omnes lucilius eu vix. Has te erat prima commune, ad omnes primis eam, mei salutatus interesset cotidieque in. Vis ea zril quidam electram, eu exerci expetendis vel. Regione ancillae ne eos. Cu quo sint scripta bonorum. Nam et alia harum malorum, nisl tota est ex, has ne dictas expetenda.</p>]]></mainContent>
      <footer><![CDATA[Some content]]></footer>
      <projectsOverview id="1081" key="30e2178c-172a-41c6-ac4b-e4cdbb8a492e" parentID="1080" level="3" creatorID="0" sortOrder="3" createDate="2018-02-18T15:18:27" updateDate="2018-02-18T16:19:52" nodeName="Bootstrap" urlName="bootstrap" path="-1,1078,1080,1081" isDoc="" nodeType="1072" creatorName="Lucian Constantin Curcuta" writerName="Lucian Constantin Curcuta" writerID="0" template="1071" nodeTypeAlias="projectsOverview" isPublished="false">
        <projectsBodyText><![CDATA[<p>Lorem ipsum dolor sit amet, vis nisl theophrastus ut, mei discere docendi quaerendum ut, ridens audiam cu vel. Ignota imperdiet scribentur ea sea, qui eirmod tacimates mandamus te, omnes lucilius eu vix. Has te erat prima commune, ad omnes primis eam, mei salutatus interesset cotidieque in. Vis ea zril quidam electram, eu exerci expetendis vel. Regione ancillae ne eos. Cu quo sint scripta bonorum. Nam et alia harum malorum, nisl tota est ex, has ne dictas expetenda.</p>]]></projectsBodyText>
        <projectsTitle><![CDATA[Bootstrap]]></projectsTitle>
        <projectItem id="1083" key="71092a62-b29f-4146-84a8-903cd0821a19" parentID="1081" level="4" creatorID="0" sortOrder="6" createDate="2018-02-18T15:20:23" updateDate="2018-02-18T16:19:52" nodeName="Navigation" urlName="navigation" path="-1,1078,1080,1081,1083" isDoc="" nodeType="1077" creatorName="Lucian Constantin Curcuta" writerName="Lucian Constantin Curcuta" writerID="0" template="1076" nodeTypeAlias="projectItem" isPublished="false">
          <projectTitle><![CDATA[Navigation Bar]]></projectTitle>
          <projectStatus>26</projectStatus>
          <projectDescription><![CDATA[<p>Lorem ipsum dolor sit amet, vis nisl theophrastus ut, mei discere docendi quaerendum ut, ridens audiam cu vel. Ignota imperdiet scribentur ea sea, qui eirmod tacimates mandamus te, omnes lucilius eu vix. Has te erat prima commune, ad omnes primis eam, mei salutatus interesset cotidieque in. Vis ea zril quidam electram, eu exerci expetendis vel. Regione ancillae ne eos. Cu quo sint scripta bonorum. Nam et alia harum malorum, nisl tota est ex, has ne dictas expetenda.</p>]]></projectDescription>
        </projectItem>
        <projectItem id="1090" key="15715885-8b4e-4269-8528-b086798765c5" parentID="1081" level="4" creatorID="0" sortOrder="7" createDate="2018-02-18T15:49:40" updateDate="2018-02-18T16:19:52" nodeName="Grid" urlName="grid" path="-1,1078,1080,1081,1090" isDoc="" nodeType="1077" creatorName="Lucian Constantin Curcuta" writerName="Lucian Constantin Curcuta" writerID="0" template="1076" nodeTypeAlias="projectItem" isPublished="true">
          <projectTitle><![CDATA[Grid system]]></projectTitle>
          <projectStatus>25</projectStatus>
          <projectDescription><![CDATA[<p>Lorem ipsum dolor sit amet, vis nisl theophrastus ut, mei discere docendi quaerendum ut, ridens audiam cu vel. Ignota imperdiet scribentur ea sea, qui eirmod tacimates mandamus te, omnes lucilius eu vix. Has te erat prima commune, ad omnes primis eam, mei salutatus interesset cotidieque in. Vis ea zril quidam electram, eu exerci expetendis vel. Regione ancillae ne eos. Cu quo sint scripta bonorum. Nam et alia harum malorum, nisl tota est ex, has ne dictas expetenda.</p>]]></projectDescription>
        </projectItem>
        <projectItem id="1091" key="ff5c0d88-6f78-4342-9463-1089dbe84dd8" parentID="1081" level="4" creatorID="0" sortOrder="8" createDate="2018-02-18T15:50:03" updateDate="2018-02-18T16:19:52" nodeName="Modal" urlName="modal" path="-1,1078,1080,1081,1091" isDoc="" nodeType="1077" creatorName="Lucian Constantin Curcuta" writerName="Lucian Constantin Curcuta" writerID="0" template="1076" nodeTypeAlias="projectItem" isPublished="true">
          <projectTitle><![CDATA[Modal]]></projectTitle>
          <projectStatus>27</projectStatus>
          <projectDescription><![CDATA[<p>Lorem ipsum dolor sit amet, vis nisl theophrastus ut, mei discere docendi quaerendum ut, ridens audiam cu vel. Ignota imperdiet scribentur ea sea, qui eirmod tacimates mandamus te, omnes lucilius eu vix. Has te erat prima commune, ad omnes primis eam, mei salutatus interesset cotidieque in. Vis ea zril quidam electram, eu exerci expetendis vel. Regione ancillae ne eos. Cu quo sint scripta bonorum. Nam et alia harum malorum, nisl tota est ex, has ne dictas expetenda.</p>]]></projectDescription>
        </projectItem>
        <projectItem id="1097" key="13bacce7-bdf3-4288-9c20-8440236c5da4" parentID="1081" level="4" creatorID="0" sortOrder="9" createDate="2018-02-28T11:28:47" updateDate="2018-02-28T11:28:47" nodeName="smth" urlName="smth" path="-1,1078,1080,1081,1097" isDoc="" nodeType="1077" creatorName="Lucian Constantin Curcuta" writerName="Lucian Constantin Curcuta" writerID="0" template="1076" nodeTypeAlias="projectItem" isPublished="true">
          <projectTitle><![CDATA[Sometiing]]></projectTitle>
          <projectStatus>27</projectStatus>
          <projectDescription><![CDATA[<p>dfadsfdaSAFGDFAASFDASDS</p>]]></projectDescription>
        </projectItem>
        <projectItem id="1102" key="52f3498f-dad9-4ca1-b194-b2295bd87d5f" parentID="1081" level="4" creatorID="0" sortOrder="10" createDate="2018-03-20T17:44:46" updateDate="2018-03-20T17:44:46" nodeName="Project1" urlName="project1" path="-1,1078,1080,1081,1102" isDoc="" nodeType="1077" creatorName="Lucian Constantin Curcuta" writerName="Lucian Constantin Curcuta" writerID="0" template="1076" nodeTypeAlias="projectItem" isPublished="true">
          <projectTitle><![CDATA[Project1]]></projectTitle>
          <projectStatus>27</projectStatus>
          <projectDescription><![CDATA[<p>Project1Project1Project1Project1Project1Project1Project1Project1Project1Project1Project1Project1Project1Project1</p>]]></projectDescription>
        </projectItem>
        <projectItem id="1103" key="ea5aa554-1576-429b-aa3a-5bda27f670a8" parentID="1081" level="4" creatorID="0" sortOrder="11" createDate="2018-03-20T17:44:58" updateDate="2018-03-20T17:44:58" nodeName="Project2" urlName="project2" path="-1,1078,1080,1081,1103" isDoc="" nodeType="1077" creatorName="Lucian Constantin Curcuta" writerName="Lucian Constantin Curcuta" writerID="0" template="1076" nodeTypeAlias="projectItem" isPublished="true">
          <projectTitle><![CDATA[Project2]]></projectTitle>
          <projectStatus>27</projectStatus>
          <projectDescription><![CDATA[<p>Project2Project2Project2Project2Project2Project2Project2Project2Project2Project2Project2Project2Project2Project2Project2Project2Project2Project2Project2Project2vvvv</p>]]></projectDescription>
        </projectItem>
        <projectItem id="1104" key="a7fa7d13-999a-4c0d-b272-fd0579972dc4" parentID="1081" level="4" creatorID="0" sortOrder="12" createDate="2018-03-20T17:45:10" updateDate="2018-03-20T17:45:10" nodeName="Project3" urlName="project3" path="-1,1078,1080,1081,1104" isDoc="" nodeType="1077" creatorName="Lucian Constantin Curcuta" writerName="Lucian Constantin Curcuta" writerID="0" template="1076" nodeTypeAlias="projectItem" isPublished="true">
          <projectTitle><![CDATA[Project3]]></projectTitle>
          <projectStatus>27</projectStatus>
          <projectDescription><![CDATA[<p>Project3Project3Project3Project3Project3Project3Project3Project3Project3Project3Project3Project3vv</p>]]></projectDescription>
        </projectItem>
        <projectItem id="1105" key="da7b8df5-12c1-4220-b665-98699882a843" parentID="1081" level="4" creatorID="0" sortOrder="13" createDate="2018-03-20T17:45:22" updateDate="2018-03-20T17:45:22" nodeName="Project4" urlName="project4" path="-1,1078,1080,1081,1105" isDoc="" nodeType="1077" creatorName="Lucian Constantin Curcuta" writerName="Lucian Constantin Curcuta" writerID="0" template="1076" nodeTypeAlias="projectItem" isPublished="true">
          <projectTitle><![CDATA[Project4]]></projectTitle>
          <projectStatus>27</projectStatus>
          <projectDescription><![CDATA[<p>Project4Project4Project4Project4Project4Project4Project4Project4Project4Project4Project4Project4Project4Project4Project4v</p>]]></projectDescription>
        </projectItem>
        <projectItem id="1106" key="122721a9-05a5-444d-b338-ec1089a7974d" parentID="1081" level="4" creatorID="0" sortOrder="14" createDate="2018-03-20T17:45:38" updateDate="2018-03-20T17:45:38" nodeName="Project5" urlName="project5" path="-1,1078,1080,1081,1106" isDoc="" nodeType="1077" creatorName="Lucian Constantin Curcuta" writerName="Lucian Constantin Curcuta" writerID="0" template="1076" nodeTypeAlias="projectItem" isPublished="true">
          <projectTitle><![CDATA[Project5]]></projectTitle>
          <projectStatus>27</projectStatus>
          <projectDescription><![CDATA[<p>Project5Project5Project5Project5Project5Project5Project5Project5Project5Project5Project5Project5Project5Project5Project5Project5Project5Project5Project5Project5Project5Project5Project5Project5Project5Project5Project5Project5Project5Project5v</p>]]></projectDescription>
        </projectItem>
      </projectsOverview>
    </homePage>
    <aboutUs id="1110" key="ac18b188-1c29-4a6c-99ee-db21d670ff9d" parentID="1078" level="2" creatorID="0" sortOrder="1" createDate="2018-03-21T10:42:08" updateDate="2018-03-26T18:20:22" nodeName="About Us" urlName="about-us" path="-1,1078,1110" isDoc="" nodeType="1095" creatorName="Lucian Constantin Curcuta" writerName="Lucian Constantin Curcuta" writerID="0" template="1094" nodeTypeAlias="aboutUs" isPublished="true">
      <layout><![CDATA[{
  "name": "Headline",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "name": "",
          "areas": [
            {
              "grid": 12,
              "config": {
                "class": "img1"
              },
              "styles": {
                "background-image": "url(/media/1004/al8mbja_700b.jpg)"
              },
              "hasConfig": true,
              "controls": [
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.65411764705882358,
                      "top": 0.5415986949429038
                    },
                    "id": 1161,
                    "udi": "umb://media/1143bec23ec747b2be78c235e037117f",
                    "image": "/media/1004/al8mbja_700b.jpg"
                  },
                  "editor": {
                    "alias": "media"
                  },
                  "active": true
                }
              ],
              "hasActiveChild": true,
              "active": true
            },
            {
              "grid": 12,
              "hasConfig": false,
              "controls": [
                {
                  "value": "vafsaasfsafasf",
                  "editor": {
                    "alias": "quote"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 4,
              "hasConfig": false,
              "controls": [
                {
                  "value": "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.",
                  "editor": {
                    "alias": "quote"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 4,
              "hasConfig": false,
              "controls": [
                {
                  "value": "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.",
                  "editor": {
                    "alias": "quote"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 4,
              "hasConfig": false,
              "controls": [
                {
                  "value": "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.",
                  "editor": {
                    "alias": "quote"
                  },
                  "active": false
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "6d85c315-4e55-ae8d-2652-cacbdf563cc4",
          "hasActiveChild": true,
          "active": true
        }
      ]
    }
  ]
}]]></layout>
    </aboutUs>
    <articlesOverview id="1084" key="a2307b32-0202-4093-a0be-cd7f6993c132" parentID="1078" level="2" creatorID="0" sortOrder="2" createDate="2018-02-18T15:46:36" updateDate="2018-03-26T18:20:48" nodeName="News" urlName="news" path="-1,1078,1084" isDoc="" nodeType="1066" creatorName="Lucian Constantin Curcuta" writerName="Lucian Constantin Curcuta" writerID="0" template="1065" nodeTypeAlias="articlesOverview" isPublished="true">
      <articlesTitle><![CDATA[Animal Kingdom]]></articlesTitle>
      <articlesBodyText><![CDATA[<p>Lorem ipsum dolor sit amet, vis nisl theophrastus ut, mei discere docendi quaerendum ut, ridens audiam cu vel. Ignota imperdiet scribentur ea sea, qui eirmod tacimates mandamus te, omnes lucilius eu vix. Has te erat prima commune, ad omnes primis eam, mei salutatus interesset cotidieque in. Vis ea zril quidam electram, eu exerci expetendis vel. Regione ancillae ne eos. Cu quo sint scripta bonorum. Nam et alia harum malorum, nisl tota est ex, has ne dictas expetenda.</p>]]></articlesBodyText>
      <articleItem id="1085" key="9600930e-b31b-4a45-8d92-a6c545f2236a" parentID="1084" level="3" creatorID="0" sortOrder="12" createDate="2018-02-18T15:46:59" updateDate="2018-03-26T18:19:22" nodeName="Article Item" urlName="article-item" path="-1,1078,1084,1085" isDoc="" nodeType="1069" creatorName="Lucian Constantin Curcuta" writerName="Lucian Constantin Curcuta" writerID="0" template="1068" nodeTypeAlias="articleItem" isPublished="true">
        <articleContent><![CDATA[<p>Lorem ipsum dolor sit amet, vis nisl theophrastus ut, mei discere docendi quaerendum ut, ridens audiam cu vel. Ignota imperdiet scribentur ea sea, qui eirmod tacimates mandamus te, omnes lucilius eu vix. Has te erat prima commune, ad omnes primis eam, mei salutatus interesset cotidieque in. Vis ea zril quidam electram, eu exerci expetendis vel. Regione ancillae ne eos. Cu quo sint scripta bonorum. Nam et alia harum malorum, nisl tota est ex, has ne dictas expetenda.</p>]]></articleContent>
        <articleTitle><![CDATA[Lion]]></articleTitle>
      </articleItem>
      <articleItem id="1086" key="ad67ada7-7005-4751-8e1b-224d88f6fc09" parentID="1084" level="3" creatorID="0" sortOrder="13" createDate="2018-02-18T15:47:16" updateDate="2018-03-26T18:19:22" nodeName="Article Item (1)" urlName="article-item-1" path="-1,1078,1084,1086" isDoc="" nodeType="1069" creatorName="Lucian Constantin Curcuta" writerName="Lucian Constantin Curcuta" writerID="0" template="1068" nodeTypeAlias="articleItem" isPublished="true">
        <articleContent><![CDATA[<p>Lorem ipsum dolor sit amet, vis nisl theophrastus ut, mei discere docendi quaerendum ut, ridens audiam cu vel. Ignota imperdiet scribentur ea sea, qui eirmod tacimates mandamus te, omnes lucilius eu vix. Has te erat prima commune, ad omnes primis eam, mei salutatus interesset cotidieque in. Vis ea zril quidam electram, eu exerci expetendis vel. Regione ancillae ne eos. Cu quo sint scripta bonorum. Nam et alia harum malorum, nisl tota est ex, has ne dictas expetenda.</p>]]></articleContent>
        <articleTitle><![CDATA[Monkey]]></articleTitle>
      </articleItem>
      <articleItem id="1088" key="cefccaa8-53ab-4886-820a-ba9866775266" parentID="1084" level="3" creatorID="0" sortOrder="14" createDate="2018-02-18T15:47:58" updateDate="2018-03-26T18:19:22" nodeName="Article Item (2)" urlName="article-item-2" path="-1,1078,1084,1088" isDoc="" nodeType="1069" creatorName="Lucian Constantin Curcuta" writerName="Lucian Constantin Curcuta" writerID="0" template="1068" nodeTypeAlias="articleItem" isPublished="true">
        <articleContent><![CDATA[<p>Lorem ipsum dolor sit amet, vis nisl theophrastus ut, mei discere docendi quaerendum ut, ridens audiam cu vel. Ignota imperdiet scribentur ea sea, qui eirmod tacimates mandamus te, omnes lucilius eu vix. Has te erat prima commune, ad omnes primis eam, mei salutatus interesset cotidieque in. Vis ea zril quidam electram, eu exerci expetendis vel. Regione ancillae ne eos. Cu quo sint scripta bonorum. Nam et alia harum malorum, nisl tota est ex, has ne dictas expetenda.</p>]]></articleContent>
        <articleTitle><![CDATA[BigFoot]]></articleTitle>
      </articleItem>
      <articleItem id="1089" key="bcf41950-43b4-446e-bd83-04605684245a" parentID="1084" level="3" creatorID="0" sortOrder="15" createDate="2018-02-18T15:48:31" updateDate="2018-03-26T18:19:22" nodeName="Article Item (3)" urlName="article-item-3" path="-1,1078,1084,1089" isDoc="" nodeType="1069" creatorName="Lucian Constantin Curcuta" writerName="Lucian Constantin Curcuta" writerID="0" template="1068" nodeTypeAlias="articleItem" isPublished="true">
        <articleContent><![CDATA[<p>Lorem ipsum dolor sit amet, vis nisl theophrastus ut, mei discere docendi quaerendum ut, ridens audiam cu vel. Ignota imperdiet scribentur ea sea, qui eirmod tacimates mandamus te, omnes lucilius eu vix. Has te erat prima commune, ad omnes primis eam, mei salutatus interesset cotidieque in. Vis ea zril quidam electram, eu exerci expetendis vel. Regione ancillae ne eos. Cu quo sint scripta bonorum. Nam et alia harum malorum, nisl tota est ex, has ne dictas expetenda.</p>]]></articleContent>
        <articleTitle><![CDATA[Ciupacabra]]></articleTitle>
      </articleItem>
    </articlesOverview>
    <forbiddenAccess id="1153" key="04e9d000-9965-41c0-873d-37062b084fe5" parentID="1078" level="2" creatorID="0" sortOrder="3" createDate="2018-03-25T19:13:58" updateDate="2018-03-26T18:31:44" nodeName="Forbidden Access" urlName="forbidden-access" path="-1,1078,1153" isDoc="" nodeType="1151" creatorName="Lucian Constantin Curcuta" writerName="Lucian Constantin Curcuta" writerID="0" template="1152" nodeTypeAlias="forbiddenAccess" isPublished="true">
      <umbracoNaviHide>1</umbracoNaviHide>
    </forbiddenAccess>
    <members id="1159" key="1afd6b23-8129-4c0d-8aaf-0be5b0ad992f" parentID="1078" level="2" creatorID="0" sortOrder="4" createDate="2018-03-25T20:17:08" updateDate="2018-03-26T18:31:44" nodeName="Members" urlName="members" path="-1,1078,1159" isDoc="" nodeType="1156" creatorName="Lucian Constantin Curcuta" writerName="Lucian Constantin Curcuta" writerID="0" template="1160" nodeTypeAlias="members" isPublished="true">
      <umbracoNaviHide>0</umbracoNaviHide>
    </members>
    <contactUs id="1112" key="e1055ef7-1089-49bd-b1db-da4531da8017" parentID="1078" level="2" creatorID="0" sortOrder="5" createDate="2018-03-21T10:48:37" updateDate="2018-03-26T18:31:44" nodeName="Contact Us" urlName="contact-us" path="-1,1078,1112" isDoc="" nodeType="1108" creatorName="Lucian Constantin Curcuta" writerName="Lucian Constantin Curcuta" writerID="0" template="1107" nodeTypeAlias="contactUs" isPublished="true" />
    <loginForm id="1147" key="21409f78-ba63-4c41-bcf8-2c497b42d5f7" parentID="1078" level="2" creatorID="0" sortOrder="6" createDate="2018-03-23T18:44:33" updateDate="2018-03-26T18:31:44" nodeName="Login" urlName="login" path="-1,1078,1147" isDoc="" nodeType="1138" creatorName="Lucian Constantin Curcuta" writerName="Lucian Constantin Curcuta" writerID="0" template="1146" nodeTypeAlias="loginForm" isPublished="true">
      <umbracoNaviHide>0</umbracoNaviHide>
    </loginForm>
  </master>
  <siteMap id="1101" key="bb10b2e5-23ba-4a74-b4fe-06c582d1e6f9" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2018-02-28T12:31:42" updateDate="2018-02-28T12:31:42" nodeName="SiteMap" urlName="sitemap" path="-1,1101" isDoc="" nodeType="1099" creatorName="Lucian Constantin Curcuta" writerName="Lucian Constantin Curcuta" writerID="0" template="1098" nodeTypeAlias="siteMap" isPublished="true" />
</root>